@page "/signup"
@inject NavigationManager Navigation

<head>
    <link rel="stylesheet" href="~/css/shared.css" />
</head>

<div style="display: grid; place-items: center;">
    <h1 class="header-text">Create your account</h1>
    <div class="form-container">            
        <div class="form-group">
            <label> Username:</label>
            <input class="password-input-container" style="color: black; padding: 15px;" type="text" @bind="UserName" />
        </div>
        <div class="form-group">
            <label> Email:</label>
            <input class="password-input-container" style="color: black; padding: 15px;" type="email" @bind="Email" />
        </div>
        <div class="form-group">
            <label> Password:</label>
            <div class="password-input-container">
                <input style="
                border: 0;
                 color: black;
                  background-color: #ffffff00;
                   width: 90%;
                    height: 100%;
                    padding: 15px;"
                   class="password-input-container" 
                   type="@( IsHidden ? "password" : "text" )" @bind="@Password"/>
                <img class="show-hide-password" style="width: 40px; height: 40px; align-self: center;"
                                     src="@( IsHidden ? "Assets/hide-password.svg" : "Assets/show-password.svg" )" 
                                     @onclick="() => IsHidden=!IsHidden"/>
            </div>
        </div>
        <div style="display: flex; color: black; align-self: center">
            <p style="color: white">Already have an account?</p>
            <button style="padding-bottom: 15px;" class="log-in-button" type="button" @onclick="GoToLogin">Log In</button>
        </div>
        <button class="submit-btn" type="button" @onclick="GoToHome">Sign Up</button>
    </div>
</div>


@code {
    private string UserName { get; set; } = "";
    private string Email { get; set; } = "";
    private string Password { get; set; } = "";
    private bool IsHidden { get; set; } = true;

    private void GoToHome()
    {
        Navigation.NavigateTo("/home");
    }

    private void GoToLogin()
    {
        Navigation.NavigateTo("/");
    }
    public void PrintEmail()
    {
        Console.WriteLine(UserName);
        Console.WriteLine(Email);
        Console.WriteLine(Password);
    }
}