@using KeyVault.Models.User
<div>
    @foreach (var member in GroupMembersList)
    {
        <div className='secrets-content' key={member.id}>
            <p className='secrets-values'>{member.userName}</p>
            <p className='secrets-values'>{member.email}</p>
            @* contextComponent?.loggedInUser?.id === currentGroup.ownerId ? *@
            @*         member.id !== currentGroup.ownerId  *@
            @*         ? *@
            @*             <img className='delete-secret-btn' src={member.checked ? checkedBox : uncheckedBox} onClick={() => handleCheckBoxForMembers(member)} /> *@
            @*         : *@
            @*             <p className='secrets-values'>OWNER</p> *@
            @*         : *@
            @*         <p></p> *@
        </div>
    }
    @* currentGroup.ownerId === contextComponent?.loggedInUser?.id && *@
    <button class="delete-group-btn"
            type="submit">Remove Member</button>
    
</div>

@code {
    [Parameter]
    public List<UserForHomeSearch> GroupMembersList { get; set; }
}