<div>
    <div style="display: flex; flex-direction: row; background-color: inherit" 
         class="create-secret-conatiner">
        <label hidden="@(!IsNewSecretTriggered)" 
               style="font-size: 18px; margin-top: 20px; margin-bottom: 20px">Enter Secret Content</label>
        <input hidden="@(!IsNewSecretTriggered)"
               class="create-secret-content-input" 
               type="text"
               @bind="NewSecretContent"
               @oninput="ChangeNewSecretContent"/>
    </div>
    <button disabled="@( NewSecretContent.Length < 1 || NewSecretTitle.Length < 1)"
            class="submit-new-secret" 
            type="submit"
            @onclick="async Task() => await CreateSecret(NewSecretContent)">Create Secret</button>
</div>

@code {
    [Parameter]
    public bool IsNewSecretTriggered { get; set; }
    
    [Parameter]
    public string NewSecretTitle { get; set; }

    [Parameter]
    public Func<string, Task> CreateSecret { get; set; }

    private string NewSecretContent { get; set; } = "";

    private void ChangeNewSecretContent(ChangeEventArgs e)
    {
        NewSecretContent = (string)e.Value;
        StateHasChanged();
    }
}