@using KeyVault.Models.Secrets

<div>
    @foreach (var secret in GroupSecrets)
    {
        <div class="secrets-content" key={@secret.Id}>
        <p class="secrets-values">@secret.Title</p>
        <p class="secrets-values">@secret.Content</p>
        <p class="secrets-values">@secret.DateCreated</p>
            <img class="delete-secret-btn" 
                 src="Assets/delete-icon.svg" 
                 alt=""
                 @onclick="async Task() => await DeleteSecret.Invoke(secret.Id)"
                 />
        </div>
    }

</div>
@code {
    [Parameter]
    public List<SecretForHome> GroupSecrets { get; set; }
    
    [Parameter]
    public Func<string, Task> DeleteSecret { get; set; }
}